# Ignore generated audio signal files
received_signals/speech.wav
original_audiofiles/*.wav
reference_signals/*.wav
generated_signals/*.wav
original_signals/*.wav
tools/CDMA_TXv2.py
tools/CDMA_RX.py
# Ignore temporary files
*.tmp 